<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root[<!ELEMENT members ANY>
<!ATTLIST members id ID #REQUIRED>
<!ELEMENT site ANY>
<!ATTLIST site id ID #REQUIRED>
<!ELEMENT master ANY>
<!ATTLIST master id ID #REQUIRED>
<!ELEMENT homePage ANY>
<!ATTLIST homePage id ID #REQUIRED>
<!ELEMENT textPage ANY>
<!ATTLIST textPage id ID #REQUIRED>
<!ELEMENT articlesOverview ANY>
<!ATTLIST articlesOverview id ID #REQUIRED>
<!ELEMENT articleItem ANY>
<!ATTLIST articleItem id ID #REQUIRED>
<!ELEMENT projectsOverview ANY>
<!ATTLIST projectsOverview id ID #REQUIRED>
<!ELEMENT projectItem ANY>
<!ATTLIST projectItem id ID #REQUIRED>
<!ELEMENT about ANY>
<!ATTLIST about id ID #REQUIRED>
<!ELEMENT login ANY>
<!ATTLIST login id ID #REQUIRED>
<!ELEMENT message ANY>
<!ATTLIST message id ID #REQUIRED>
<!ELEMENT contact ANY>
<!ATTLIST contact id ID #REQUIRED>
]>
<root id="-1">
  <site id="1064" key="c526f6dd-0c88-44d1-95df-45f22aa4240c" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2017-03-26T14:49:15" updateDate="2017-03-26T18:25:28" nodeName="Aarhus Web Developers Network" urlName="aarhus-web-developers-network" path="-1,1064" isDoc="" nodeType="1050" creatorName="Marc Creutzberg" writerName="Marc Creutzberg" writerID="0" template="0" nodeTypeAlias="site">
    <footer><![CDATA[<p style="text-align: center;"><em>Aarhus Web Developers Network</em></p>
<p style="text-align: center;"><em>Mandatory Assigment Marc Creutzberg</em></p>]]></footer>
    <umbracoInternalRedirectId>1091</umbracoInternalRedirectId>
    <logo><![CDATA[1117]]></logo>
    <siteTitle><![CDATA[Aarhus Web Developers Network]]></siteTitle>
    <homePage id="1091" key="e42b8a7f-204a-4da1-98cc-de680e7d4246" parentID="1064" level="2" creatorID="0" sortOrder="0" createDate="2017-03-26T15:05:52" updateDate="2017-03-26T15:38:15" nodeName="Frontpage" urlName="frontpage" path="-1,1064,1091" isDoc="" nodeType="1052" creatorName="Marc Creutzberg" writerName="Marc Creutzberg" writerID="0" template="1101" nodeTypeAlias="homePage">
      <umbracoNaviHide>0</umbracoNaviHide>
      <bodyText><![CDATA[<h1 class="text-left">Build a team with the full stack capability and expertise to quickly reacg your goals</h1>
<p>Taking advantage of opportunities and challenges at today’s business velocity requires technology that can quickly evolve and adapt. That’s why we offer the skills and end-to-end development solutions that will help you achieve your business goals and boost productivity in the shortest possible timeframe. Our model incorporates the important components of quality software development:</p>
<ul>
<li>Prioritizing requirements</li>
<li>Using the latest methodologies</li>
<li>Performing testing and QA at every step</li>
</ul>
<p>By incorporating the Agile principles of “build, analyze, learn and improve” into our methodology, we can make recommendations to ensure you get the best possible results as quickly as possible.</p>]]></bodyText>
    </homePage>
    <about id="1074" key="16821fc0-27de-4c77-9eb8-addffe53fda2" parentID="1064" level="2" creatorID="0" sortOrder="1" createDate="2017-03-26T14:52:44" updateDate="2017-03-26T15:24:36" nodeName="About Us" urlName="about-us" path="-1,1064,1074" isDoc="" nodeType="1058" creatorName="Marc Creutzberg" writerName="Marc Creutzberg" writerID="0" template="1093" nodeTypeAlias="about">
      <umbracoNaviHide>0</umbracoNaviHide>
      <aboutGrid><![CDATA[{
  "name": "3 Col",
  "sections": [
    {
      "grid": 4,
      "rows": [
        {
          "label": "Headline",
          "name": "Headline",
          "areas": [
            {
              "grid": 12,
              "hasConfig": false,
              "controls": [
                {
                  "value": "<h3>People</h3>\n<p><span>They will guide you in selecting the right technology platform and carry it through from conception to final delivery. Having worked with clients across various industries, our teams can quickly grasp your business and ensure a scalable, reliable and easy-to-maintain solution tailored to your needs.</span></p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                }
              ]
            }
          ],
          "hasConfig": false,
          "id": "b162f365-8dfb-e6b0-e8c4-c6c2321088be"
        }
      ]
    },
    {
      "grid": 4,
      "rows": [
        {
          "label": "Headline",
          "name": "Headline",
          "areas": [
            {
              "grid": 12,
              "hasConfig": false,
              "controls": [
                {
                  "value": "<h3>Vision</h3>\n<p><span>Our developers and consultants are experts in their technical domain, with at least 10 years of experience in all stages of the software development life cycle.</span></p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                }
              ]
            }
          ],
          "hasConfig": false,
          "id": "86306ac0-302e-861a-4822-a434366e87de"
        }
      ]
    },
    {
      "grid": 4,
      "rows": [
        {
          "label": "Headline",
          "name": "Headline",
          "areas": [
            {
              "grid": 12,
              "hasConfig": false,
              "controls": [
                {
                  "value": "<h3>Skills</h3>\n<p><span>Our development cycle prioritizes requirements into multiple iterations that have comparably short development times. In addition to following best practices and utilizing the latest development techniques, we will frequently review all progress with you and deliver usable, tested pieces of software per iteration. The process is completely transparent and changes can be quickly incorporated into the backlog.</span></p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                }
              ]
            }
          ],
          "hasConfig": false,
          "id": "fc906b08-57b2-4591-0069-738c48f96351"
        }
      ]
    }
  ]
}]]></aboutGrid>
    </about>
    <articlesOverview id="1076" key="8d66473a-7f34-4c20-91e2-33d51500995e" parentID="1064" level="2" creatorID="0" sortOrder="2" createDate="2017-03-26T14:58:12" updateDate="2017-03-26T15:48:14" nodeName="Articles" urlName="articles" path="-1,1064,1076" isDoc="" nodeType="1054" creatorName="Marc Creutzberg" writerName="Marc Creutzberg" writerID="0" template="1095" nodeTypeAlias="articlesOverview">
      <umbracoNaviHide>0</umbracoNaviHide>
      <header><![CDATA[See our Articles]]></header>
      <bodyText><![CDATA[<p><em>Get inspired by reading some of our articles</em></p>]]></bodyText>
      <articleItem id="1077" key="202505e5-66d7-483c-a546-e7b04f6386f7" parentID="1076" level="3" creatorID="0" sortOrder="0" createDate="2017-03-26T14:59:28" updateDate="2017-03-26T15:24:36" nodeName="Fourworkx" urlName="fourworkx" path="-1,1064,1076,1077" isDoc="" nodeType="1055" creatorName="Marc Creutzberg" writerName="Marc Creutzberg" writerID="0" template="1094" nodeTypeAlias="articleItem">
        <umbracoNaviHide>0</umbracoNaviHide>
        <bodyText><![CDATA[<p><span>Fourworkx set out to create a web-based forecasting solution that utilizes "big data" to optimize the workload forecast (e.g. inbound call, e-mail, etc.) by applying advanced statistical methods specifically for customer service organizations, but the company needed an experienced partner to assist with the development. Shinetech's expertise in software development and Agile development methodology helped bring Fourworkx's design from the drawing table to the cloud.</span></p>]]></bodyText>
        <image><![CDATA[1069]]></image>
        <header><![CDATA[Fourworkx: A Web-based Forecasting Solution for Sizeable Contact Centers]]></header>
      </articleItem>
      <articleItem id="1078" key="9aeca3cc-ca07-48a7-9914-0841a16ebfba" parentID="1076" level="3" creatorID="0" sortOrder="1" createDate="2017-03-26T14:59:46" updateDate="2017-03-26T15:41:46" nodeName="Secure Medical" urlName="secure-medical" path="-1,1064,1076,1078" isDoc="" nodeType="1055" creatorName="Marc Creutzberg" writerName="Marc Creutzberg" writerID="0" template="1094" nodeTypeAlias="articleItem">
        <umbracoNaviHide>0</umbracoNaviHide>
        <bodyText><![CDATA[<p>What started out as a small .NET application development project turned into a four year collaboration, during which Shinetech provided an Offshore Development Center (ODC) and .NET application expertise for an industry-leading healthcare systems provide</p>]]></bodyText>
        <image><![CDATA[1068]]></image>
        <header><![CDATA[Secure Medical: Seamless ODC collaboration with U.S.-based healthcare systems provider]]></header>
      </articleItem>
      <articleItem id="1079" key="bff2e03e-25f6-42cc-a9fe-b80902be77d6" parentID="1076" level="3" creatorID="0" sortOrder="2" createDate="2017-03-26T15:00:09" updateDate="2017-03-26T15:42:00" nodeName="Allgeier (formerly 1eEurope):" urlName="allgeier-formerly-1eeurope" path="-1,1064,1076,1079" isDoc="" nodeType="1055" creatorName="Marc Creutzberg" writerName="Marc Creutzberg" writerID="0" template="1094" nodeTypeAlias="articleItem">
        <umbracoNaviHide>0</umbracoNaviHide>
        <bodyText><![CDATA[<p>As a leading provider of sophisticated and versatile SharePoint and Microsoft solutions, Swiss-based 1eEurope needed an agile and reliable offshore outsourcing partner to meet the requirements of a complex, global IT development project. Flexibility, accuracy and speed were critical to success of the project. Together with 1eEurope, Shinetech built a 10-person team of experts to develop a .Net 2008 technology with strong logic ability in processing large SQL Server databases.</p>]]></bodyText>
        <image><![CDATA[1071]]></image>
        <header><![CDATA[Allgeier (formerly 1eEurope):]]></header>
      </articleItem>
      <articleItem id="1080" key="38e9144b-2fe9-46a3-a0c7-bdc49e430dfe" parentID="1076" level="3" creatorID="0" sortOrder="3" createDate="2017-03-26T15:00:28" updateDate="2017-03-26T15:42:12" nodeName="Detroit Diesel" urlName="detroit-diesel" path="-1,1064,1076,1080" isDoc="" nodeType="1055" creatorName="Marc Creutzberg" writerName="Marc Creutzberg" writerID="0" template="1094" nodeTypeAlias="articleItem">
        <umbracoNaviHide>0</umbracoNaviHide>
        <bodyText><![CDATA[<p>With more than 5 million engines built since 1938, Detroit Diesel has a solid reputation as a leading manufacturer of heavy-duty powerplants. Completing a trouble-free system migration from C++ to C# was critical to their success and maintaining their customers' trust. Using an ODC service delivery model, Shinetech development team successfully migrate the system in the first year, and engaged in individualized testing to guarantee the quality of deliveries for Detroit Diesel.</p>]]></bodyText>
        <image><![CDATA[1081]]></image>
        <header><![CDATA[Detroit Diesel: Powering Through a Successful System Migration]]></header>
      </articleItem>
    </articlesOverview>
    <projectsOverview id="1082" key="c90de6a6-c706-4f8a-9ea2-b27138ef6b46" parentID="1064" level="2" creatorID="0" sortOrder="3" createDate="2017-03-26T15:01:14" updateDate="2017-03-26T16:48:28" nodeName="Projects" urlName="projects" path="-1,1064,1082" isDoc="" nodeType="1056" creatorName="Marc Creutzberg" writerName="Marc Creutzberg" writerID="0" template="1099" nodeTypeAlias="projectsOverview">
      <umbracoNaviHide>0</umbracoNaviHide>
      <projectItem id="1083" key="88f65226-2623-47b1-b973-468c6f1c7fe7" parentID="1082" level="3" creatorID="0" sortOrder="0" createDate="2017-03-26T15:01:30" updateDate="2017-03-26T15:28:46" nodeName="Optimizing a Web-based Order Management System" urlName="optimizing-a-web-based-order-management-system" path="-1,1064,1082,1083" isDoc="" nodeType="1057" creatorName="Marc Creutzberg" writerName="Marc Creutzberg" writerID="0" template="1098" nodeTypeAlias="projectItem">
        <umbracoNaviHide>0</umbracoNaviHide>
        <bodyText><![CDATA[<p><span>Our client was looking to replace an existing desktop application and ensure their new web-based solution could provide easy access, improved user experience and reliable performance. Shinetech conducted an architecture review and continued on to develop the recommended improvements to simplify and enhance current features.</span></p>]]></bodyText>
        <projectStatus>22</projectStatus>
        <header><![CDATA[Optimizing a Web-based Order Management System]]></header>
      </projectItem>
      <projectItem id="1084" key="928f8ebe-17ad-4e2b-b730-d9e8f58d1722" parentID="1082" level="3" creatorID="0" sortOrder="1" createDate="2017-03-26T15:01:46" updateDate="2017-03-26T15:28:49" nodeName="Maintaining and Enhancing a Leading Automative Parts Platform" urlName="maintaining-and-enhancing-a-leading-automative-parts-platform" path="-1,1064,1082,1084" isDoc="" nodeType="1057" creatorName="Marc Creutzberg" writerName="Marc Creutzberg" writerID="0" template="1098" nodeTypeAlias="projectItem">
        <umbracoNaviHide>0</umbracoNaviHide>
        <bodyText><![CDATA[<p><span>Livebookings is a UK based online restaurant reservations and marketing company committed to helping restaurants to become more profitable. They have a team of 50 in house developers and outsource the non-core products offshore to reduce the development cost. Shinetech built an offshore development team to assist client in their product development. During our three year collaboration several SaaS products were completed and successfully launched to the markets.</span></p>]]></bodyText>
        <projectStatus>22</projectStatus>
        <header><![CDATA[Maintaining and Enhancing a Leading Automative Parts Platform]]></header>
      </projectItem>
      <projectItem id="1085" key="18c0a3ff-66a2-4b36-8aa0-82b722d4f1b9" parentID="1082" level="3" creatorID="0" sortOrder="2" createDate="2017-03-26T15:01:58" updateDate="2017-03-26T15:28:51" nodeName="System Maintenance and Support for a Medical Device Manufacturer" urlName="system-maintenance-and-support-for-a-medical-device-manufacturer" path="-1,1064,1082,1085" isDoc="" nodeType="1057" creatorName="Marc Creutzberg" writerName="Marc Creutzberg" writerID="0" template="1098" nodeTypeAlias="projectItem">
        <umbracoNaviHide>0</umbracoNaviHide>
        <bodyText><![CDATA[<p><span>Our client was using three separate systems to manage product registration, inventory, and labeling at their regional headquarters in Hong Kong. When the U.S. Food and Drug Administration (FDA) introduced new labeling requirements for healthcare products, Shinetech took over from a previous vendor to help the client integrate and transform their system to meet the new FDA standards, while adding new functions to increase efficiency.</span></p>]]></bodyText>
        <projectStatus>22</projectStatus>
        <header><![CDATA[System Maintenance and Support for a Medical Device Manufacturer]]></header>
      </projectItem>
      <projectItem id="1086" key="191511f8-eb2d-410a-86cf-3443069acbe7" parentID="1082" level="3" creatorID="0" sortOrder="3" createDate="2017-03-26T15:02:20" updateDate="2017-03-26T15:28:55" nodeName="Providing Easy Cash Access Services and Speed-to-Market Delivery" urlName="providing-easy-cash-access-services-and-speed-to-market-delivery" path="-1,1064,1082,1086" isDoc="" nodeType="1057" creatorName="Marc Creutzberg" writerName="Marc Creutzberg" writerID="0" template="1098" nodeTypeAlias="projectItem">
        <umbracoNaviHide>0</umbracoNaviHide>
        <bodyText><![CDATA[<p><span>Our client was looking to expand their existing terminals into user-friendly kiosks offering ATMs, Cash Advances, and Check Cashing. They needed a reliable partner who could quickly implement the new features and test the enhanced kiosks. Shinetech completed the feature enhancements, continued with development and QA work, and has established a long-term collaborative relationship with the client.</span></p>]]></bodyText>
        <projectStatus>22</projectStatus>
        <header><![CDATA[Providing Easy Cash Access Services and Speed-to-Market Delivery]]></header>
      </projectItem>
      <projectItem id="1087" key="a15624ed-e811-4d1a-8b82-d82d91de7f2a" parentID="1082" level="3" creatorID="0" sortOrder="4" createDate="2017-03-26T15:02:36" updateDate="2017-03-26T15:29:00" nodeName="Cloud Application in Retail Management Product Boosts Client's Business" urlName="cloud-application-in-retail-management-product-boosts-clients-business" path="-1,1064,1082,1087" isDoc="" nodeType="1057" creatorName="Marc Creutzberg" writerName="Marc Creutzberg" writerID="0" template="1098" nodeTypeAlias="projectItem">
        <umbracoNaviHide>0</umbracoNaviHide>
        <bodyText><![CDATA[<p><span>A New Zealand business that provides a range of retail management products-widely used throughout Asia Pacific, U.K. and the U.S.-needed a system upgrade for end-to-end retail management products used in a hybrid cloud environment. Shinetech formed a four-member team to work on system development. Using agile methodologies, the team maintained close communication with the client's IT department leader and project manager and build a new cloud product.</span></p>]]></bodyText>
        <projectStatus>20</projectStatus>
        <header><![CDATA[Cloud Application in Retail Management Product Boosts Client's Business]]></header>
      </projectItem>
      <projectItem id="1088" key="2633388e-db14-4f26-b27d-6d5c4ff5c692" parentID="1082" level="3" creatorID="0" sortOrder="5" createDate="2017-03-26T15:02:48" updateDate="2017-03-26T15:36:20" nodeName="Agile Team Collaboration Results in Resource Management Optimization" urlName="agile-team-collaboration-results-in-resource-management-optimization" path="-1,1064,1082,1088" isDoc="" nodeType="1057" creatorName="Marc Creutzberg" writerName="Marc Creutzberg" writerID="0" template="1098" nodeTypeAlias="projectItem">
        <umbracoNaviHide>0</umbracoNaviHide>
        <bodyText><![CDATA[<p><span>The client, a custom software development company, has a potential customer that provides cargo services for different countries around the world. The potential customer used an internal logistics management system to manage customer relationships and diversify cargo data, but was lacking a way to involve external agents or shippers in the logistic process.</span></p>]]></bodyText>
        <projectStatus>21</projectStatus>
        <header><![CDATA[Agile Team Collaboration Results in Resource Management Optimization]]></header>
      </projectItem>
    </projectsOverview>
    <textPage id="1090" key="72363ad2-3f95-4f3f-a5c3-51fca66aeade" parentID="1064" level="2" creatorID="0" sortOrder="4" createDate="2017-03-26T15:03:52" updateDate="2017-03-26T15:50:38" nodeName="FAQ" urlName="faq" path="-1,1064,1090" isDoc="" nodeType="1053" creatorName="Marc Creutzberg" writerName="Marc Creutzberg" writerID="0" template="1100" nodeTypeAlias="textPage">
      <umbracoNaviHide>0</umbracoNaviHide>
      <bodyText><![CDATA[<h3>Shinetech Software Inc. is a trusted partner and a recognized leader in providing application outsourcing, systems integration and solution delivery services</h3>
<p>Since 2001, we have provided premium software development and strategy expertise to hundreds of companies around the world. With a unique focus on building strong, collaborative relationships with clients, Shinetech has created a solid reputation for exceeding our client expectations with quality work and fast delivery turnaround. When you partner with Shinetech, you will work with the highest-quality development talent and project managers.</p>
<p>Over the years Shinetech has successfully completed a wide range of development projects in the finance, manufacturing, healthcare, government, education, e-commerce and retail sectors. This industry experience, combined with our expertise in the latest technologies, enables us to successfully adapt to our clients' diverse needs and makes Shinetech the best choice for offshore outsourcing company.</p>
<h3><span>LEARN MORE ABOUT SHINETECH SERVICES</span></h3>
<p>Contact us to discuss about your specific outsourcing needs and to find out more about our services and delivery models. We offer a free consultation and a one week trial period.</p>
<p><a data-id="1075" href="/{localLink:1075}" title="Contact" class="bigRedButton">CONTACT US</a></p>]]></bodyText>
      <header><![CDATA[Company Profile]]></header>
    </textPage>
    <contact id="1075" key="d9486660-e0a7-4df9-88b0-9c9e9d88be7f" parentID="1064" level="2" creatorID="0" sortOrder="5" createDate="2017-03-26T14:57:37" updateDate="2017-03-26T15:24:36" nodeName="Contact" urlName="contact" path="-1,1064,1075" isDoc="" nodeType="1063" creatorName="Marc Creutzberg" writerName="Marc Creutzberg" writerID="0" template="1096" nodeTypeAlias="contact">
      <umbracoNaviHide>0</umbracoNaviHide>
    </contact>
    <login id="1089" key="0987e5fa-b00b-48c1-a550-6622dbedca4e" parentID="1064" level="2" creatorID="0" sortOrder="6" createDate="2017-03-26T15:03:06" updateDate="2017-03-26T15:24:36" nodeName="Login" urlName="login" path="-1,1064,1089" isDoc="" nodeType="1060" creatorName="Marc Creutzberg" writerName="Marc Creutzberg" writerID="0" template="1097" nodeTypeAlias="login">
      <umbracoNaviHide>0</umbracoNaviHide>
      <members id="1115" key="aa7adfde-d17a-4dad-b8b1-b6adfe228595" parentID="1089" level="3" creatorID="0" sortOrder="0" createDate="2017-03-26T16:52:24" updateDate="2017-03-26T16:52:24" nodeName="Members" urlName="members" path="-1,1064,1089,1115" isDoc="" nodeType="1114" creatorName="Marc Creutzberg" writerName="Marc Creutzberg" writerID="0" template="1113" nodeTypeAlias="members">
        <umbracoNaviHide>0</umbracoNaviHide>
      </members>
    </login>
    <textPage id="1112" key="da9f9d9c-0c34-44d7-9919-9aa9dbeb9079" parentID="1064" level="2" creatorID="0" sortOrder="7" createDate="2017-03-26T16:45:28" updateDate="2017-03-26T16:45:51" nodeName="Forbidden Access" urlName="forbidden-access" path="-1,1064,1112" isDoc="" nodeType="1053" creatorName="Marc Creutzberg" writerName="Marc Creutzberg" writerID="0" template="1100" nodeTypeAlias="textPage">
      <umbracoNaviHide>1</umbracoNaviHide>
      <bodyText><![CDATA[<p>Login for see this page</p>]]></bodyText>
      <header><![CDATA[Forbidden Access]]></header>
    </textPage>
  </site>
</root>