body {
    background: url('/image/bg.jpg') top center no-repeat;
    background-attachment: fixed;
    background-size: 100% auto;
    background-size: cover;
}

.container {
    margin-top: 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -moz-box-shadow: 2px 2px 2px #555555;
    -webkit-box-shadow: 2px 2px 2px #555555;
    box-shadow: 0px 0px 2px #555555;
}

a {
    color: #000;
}

.slides li {
    position: relative;
}

a:hover {
    color: #000;
}

.newsletterCreate {
    width: 100%;
    margin-top: 10px;
}

.spot_newsletter {
    position: absolute;
    cursor: pointer;
    left: 0px;
    top: 0px;
    height: 30px;
    background-color: #ff6a00;
    transform: rotate(90deg);
    transform-origin: left top 0;
    padding: 20px 30px;
    line-height: 0%;
    color: #fff;
    font-size: 18px;
}

.flex-direction-nav{
    display: none;
}

.slides h3 {
    position: absolute;
    right: 0;
    top: 40px;
    background-color: #000;
    padding: 6px 12px;
    color: #fff;
}

.newsletter {
     position: absolute;
    right: 0px;
    bottom: 200px;
}

    .newsletter input {
        width: 100%;
    }

    .newsletter_content{
    display: none;
    padding: 20px;
    width: 200px;

    background-color: #fff;
    }

nav {
    background-color: #7d7cec;
    text-align: center;
    margin: 20px 0;
}

    nav ul {
        text-align: center;
    }

    nav li {
        display: inline-block;
    }

.article {
    margin-bottom: 60px;
}

img {
    width: 100%;
}

.logo {
    padding-top: 40px;
}

ul li a {
    color: #000;
    font-size: 18px;
}

.textCenter {
    text-align: center;
}

.error {
    color: red;
}


.galleri img{
    width: auto!important;
}

.emptyClassForTreeTest{
    color: red;
    background-color: blue;
    text-align: center;
    float: right;
}